<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FM Uploader</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="container">
    <%- body %> <!-- This is where the content will be injected -->
  </div>
</body>
</html>